#aboutcontent {
    height: 100vh; 
    margin-top: 30px; 
    text-align: center;
}

#aboutheader {
    margin-top: 5vh; 
    margin-left: 18vw; 
    margin-right: 18vw; 
    text-align: justify; 
}

#abouttext {
    column-count: 1; 
    column-gap: 5vw; 
    margin-top: 4vh;
    margin-left: 18vw; 
    margin-right: 18vw; 
    text-align: justify; 
}

@media only screen and (orientation: landscape) {
    #abouttext {
        column-count: 2;
    }
}    

#backgroundimage {
    background: url("/img/PapayHomepage.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh; 
} 

    
@media only screen and (orientation: landscape) {
    #backgroundimage {
        background: url("/img/PapayHomepage.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100vw; 
        min-height: 150vh; 
    }    
}