
#viewingimage {
    max-width: 80vw;
    max-height: 80vh;
    position: relative; 
}

#imagecontainer {
    width: 100vw; 
    height: 100vh;
}

#infodiv {
    width: 100vw; 
    margin-bottom: 2vh;
    margin-top: 6vh;
    margin-left: 4vw;
}

.icon {
    margin-right: 25px;
    cursor: pointer; 
    width: 4vh; 
    min-width: 20px;
}

.quietLinkIcon {
    text-decoration: none;
}

.quietLinkIcon:hover {
    text-decoration: none;
    color: inherit;
}

.directionarrows {
    cursor: pointer;
    top: 50%;
    position: relative;
    width: 2vw;
    min-width: 30px;
}

.directionarrowscontainer {
    align-items: center;
    width: 10vw;
}

.infoviewingimage {
    width: 30vw; 
    top: 50%; 
    align-self: left;
}

.imageviewingcontainer {
    align-self:center;
    width: 80vw; 
    margin-left: -15px;
}

.col-xl-6, .col-sm-12, .col-lg-6, .col-12, .col-md-6, .col-xs-12 {
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}

.infotext {
    top: 50%;
    height: 80vh;
    position: absolute;
}

@media only screen and (orientation: portrait) {
    .infoviewingimage {
        width: 80vw; 
        align-self: center;
        
    }
    .infotext {
        top: 2%;
        height: 40vh;
        position: relative;
    }
}    
