
#viewingimage {
    max-width: 80vw;
    max-height: 80vh;
    position: relative; 
}

#imagecontainer {
    width: 100vw; 
    height: 100vh;
}

#infodiv {
    width: 100vw; 
    margin-bottom: 2vh;
    margin-top: 6vh;
    margin-left: 4vw;
}

.icon {
    margin-right: 25px;
    cursor: pointer; 
    width: 4vh; 
    min-width: 20px;
}

.quietLinkIcon {
    text-decoration: none;
}

.quietLinkIcon:hover {
    text-decoration: none;
    color: inherit;
}

.directionarrows {
    cursor: pointer;
    top: 50%;
    position: relative;
    width: 2vw;
    min-width: 30px;
}

.directionarrowscontainer {
    align-items: center;
    width: 10vw;
    height: 80vh; 
}

.infoviewingimage {
    top: 50%; 
    max-width: 80vw; 
    max-height: 80vh; 
    align-self: left;
}

.imageviewingcontainer {
    align-self: center;
    max-width: 80vw; 
}

.col-xl-6, .col-sm-12, .col-lg-12, .col-12, .col-md-12, .col-xs-12, .container {
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}

.row {
    margin-left: 0px!important; 
    margin-right: 0px!important; 
}

.infoviewingimage {
    max-width: 80vw; 
    align-self: center;
    
}
.infotext {
    top: 5%;
    height: 40vh;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .infotext {
        top: 40%;
        height: 80vh;
        text-align: left;
        position: relative;
        margin-left: 25vw; 
        width: 30vh; 
    }
    
}    

@media only screen and (min-width: 1500px) {
    .infoviewingimage {
        max-width: 80vw; 
        align-self: center;
    }
    .infotext {
        top: 40%;
        height: 80vh;
        text-align: left;
        position: relative;
        margin-left: 15vw; 
    }
} 

@media only screen and (min-width: 1800px) {
    .infoviewingimage {
        max-width: 80vw; 
        align-self: center;
        
    }
    .infotext {
        top: 40%;
        height: 80vh;
        text-align: left;
        position: relative;
        margin-left: 50px; 
    }
} 

@media only screen and (min-width: 2400px) {
    .infoviewingimage {
        max-width: 80vw; 
        align-self: center;
        
    }
    .infotext {
        top: 40%;
        height: 80vh;
        text-align: left;
        position: relative;
        margin-left: 0vw; 
    }
} 