.hiddenImage {
    visibility: hidden; 
    height: 0px!important; 
    width: 0px!important;
}

.visibleImage {
    visibility: visible;
    height: 100%;
    width: 100%;
    max-width: 80vw;
    align-self: center;
}

.loadingImage {
    max-width: 15%;
    max-height: 15%;
    width: 20vh;
}

#highRezImage:fullscreen {
    background-color: black;
}

#highRezImage:-ms-fullscreen {
    background-color: black;
}

#highRezImage:-moz-full-screen {
    background-color: black;
}

#highRezImage:-webkit-full-screen {
    background-color: black;
}

@media only screen and (orientation: portrait) {
    .loadingImage {
        max-width: 40%;
        max-height: 40%;
        width: 35vw;
    }
    .visibleImage {
        width: 100%; 
        height: inherit; 
        object-fit: contain;
    }
}