.newsBlock {
    margin-top: 8vh;
    margin-bottom: 10px; 
    align-content: flex-start;
    display: flex;
    width: 50%;
    margin-left: 25%;
}

.newsHeader {
    font-style: italic; 
    font-weight: bold;
    text-align: left; 
}

.newsText {
    color: black; 
    text-align: left; 
}

.vimeoVideo {
    padding: 40% 0 0 0;
    position: relative; 
    max-width: 50%;
    max-height: 50%; 
    margin: auto;
}

@media only screen and (orientation: portrait) {
    .vimeoVideo {
        max-width: 90%; 
        max-height: 90%; 
    }
    .newsBlock {
        align-content: center;
        display: flex;
        width: 100%;
        margin-left: 15%;
    }
}   
