.abouttext {
  column-count: 1; 
  column-gap: 5vw; 
  margin-top: 4vh;
  margin-left: 18vw; 
  margin-right: 18vw; 
  text-align: justify; 
}

.aboutparagraph { 
  margin-bottom: 10px; 
}

.papaypicture {
  max-width: 50vw; 
  max-height: 55vh;
  display: inline-block;
  text-align: center;
}

@media only screen and (orientation: landscape) and (min-width: 865px) {
  .abouttext {
      column-count: 2;
  }
}  
